[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipython = "*"
pytest = "*"
matplotlib = "*"
opencv-python = "*"
sklearn = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.6"
